<div class="card card-custom  gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                {{ !roleId?('PAGES.PROJECT.ADD' | translate):('PAGES.project.UPDATE' | translate) }}</h3>
        </div>
    </div>
    <div class="role-add card-body">
        <form class="form form-label-left" [formGroup]="roleForm">
            <div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6">
                <div class="card">
                    <div class="card-header" id="headingOne6">
                        <div class="card-title" data-toggle="collapse" data-target="#collapseOne6" aria-expanded="true"
                            aria-controls="collapseOne6">
                            <span class="circle_value">1</span> Company Details
                        </div>
                    </div>
                    <div id="collapseOne6" class="collapse show" aria-labelledby="headingOne6"
                        data-parent="#accordionExample6">
                        <div class="card-body">
                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Company Name </label>
                                        <select class="form-control" (change)="selectCompany($event)"
                                            formControlName="ComapnyId">
                                            <option value="">Select Company</option>
                                            <option *ngFor="let company of companyList" [value]="company.cId">
                                                {{company.cName}}</option>
                                        </select>
                                        <!-- <mat-error *ngIf="isControlHasError('','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error> -->
                                    </div>



                                    <!-- <div class="col-lg-4 mb-4 p-2">
                                        <label>Company Name</label>
                                        <input type="test" class="form-control" placeholder=""
                                            formControlName="ComapnyId">
                                        <mat-error *ngIf="isControlHasError('ComapnyId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>

                                    </div> -->
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Sector</label>
                                        <input type="test" class="form-control" placeholder=""
                                            formControlName="sectorId">
                                        <mat-error *ngIf="isControlHasError('sectorId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Overseas/Domestic</label>
                                        <input type="test" class="form-control" placeholder=""
                                            formControlName="OverseasID">
                                        <mat-error *ngIf="isControlHasError('OverseasID','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Geography</label>
                                        <input type="email" class="form-control" placeholder=""
                                            formControlName="GeographyId">
                                        <mat-error *ngIf="isControlHasError('GeographyId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Country</label>
                                        <!-- <select class="form-control" formControlName="CountryId"
                                            (change)="getStatebyCountry($event)">
                                            <option value="">Select Country</option>
                                            <option [value]="country.Id" *ngFor="let country of country">
                                                {{country.Name}}</option>
                                        </select> -->
                                        <input type="test" class="form-control" placeholder=""
                                            formControlName="CountryId">

                                        <mat-error *ngIf="isControlHasError('CountryId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">State</label>
                                        <!-- <select class="form-control" formControlName="StateId">
                                            <option value="">State</option>
                                            <option [value]="state.Id" *ngFor="let state of state">
                                                {{state.Name}}</option>
                                        </select> -->
                                        <input type="test" class="form-control" placeholder=""
                                            formControlName="StateId">

                                        <mat-error *ngIf="isControlHasError('StateId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Industry</label>
                                        <input type="test" class="form-control" placeholder=""
                                            formControlName="IndustryId">
                                        <mat-error *ngIf="isControlHasError('IndustryId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Priority</label>
                                        <input type="test" class="form-control" placeholder=""
                                            formControlName="priority">
                                        <mat-error *ngIf="isControlHasError('priority','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo6">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo6"
                            aria-expanded="true" aria-controls="collapseTwo6">
                            <span class="circle_value">2</span> PoC
                        </div>
                    </div>
                    <div id="collapseTwo6" class="collapse" aria-labelledby="headingTwo6"
                        data-parent="#accordionExample6">
                        <div class="card-body">

                            <div class="kt-portlet__body">
                                <form class="form form-label-left" [formGroup]="pocForm">
                                    <div class="form-group row">

                                        <div class="col-lg-3 mb-4 p-2">
                                            <label class="">PoC Name*</label>
                                            <select class="form-control" formControlName="POCName">
                                                <option value="">Select Poc Name</option>
                                                <option [value]="poclist.POCName" *ngFor="let poclist of PoCList">
                                                    {{poclist.POCName}}</option>
                                            </select>

                                            <mat-error *ngIf="isPOCControlHasError('POCName','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-3 mb-4 p-2">
                                            <label class="">Designation*</label>
                                            <input type="email" class="form-control" placeholder=""
                                                formControlName="Designation">
                                            <mat-error *ngIf="isPOCControlHasError('Designation','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-3 mb-4 p-2">
                                            <label class="">Phone*</label>
                                            <input type="text" class="form-control" placeholder=""
                                                formControlName="PhoneNo">
                                            <mat-error *ngIf="isPOCControlHasError('PhoneNo','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                            <mat-error *ngIf="isPOCControlHasError('PhoneNo','pattern')">
                                                {{ 'AUTH.VALIDATION.PHONE_PATTERN' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-3 mb-4 p-2">
                                            <label class="">Email*</label>
                                            <input type="email" class="form-control" placeholder=""
                                                formControlName="Email">
                                            <mat-error *ngIf="isPOCControlHasError('Email','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                            <mat-error
                                                *ngIf="isPOCControlHasError('Email','email') || isPOCControlHasError('Email','pattern')">
                                                {{ 'AUTH.VALIDATION.EMAIL_PATTERN' | translate }}
                                            </mat-error>

                                        </div>
                                        <div class="col-12 text-right">
                                            <button class="btn-primary btn" type="button"
                                                (click)="pocSave()">+AddPoc</button>
                                        </div>

                                    </div>
                                </form>
                                <table class="table table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center">Poc Name</th>
                                            <th class="text-center">Designation</th>
                                            <th class="text-center">Phone</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let poc of pocTableList">
                                            <td class="text-center">{{poc.POCName}}</td>
                                            <td class="text-center">{{poc.Designation}}</td>
                                            <td class="text-center">{{poc.PhoneNo}}</td>
                                            <td class="text-center">{{poc.Email}}</td>
                                            <td class="text-center">
                                                <i class=" mr-2" (click)="updatePoc(poc.Id)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                        viewBox="0 0 32 32">
                                                        <g id="Group_9726" data-name="Group 9726"
                                                            transform="translate(-1559 -353)">
                                                            <circle id="Ellipse_31" data-name="Ellipse 31" cx="16"
                                                                cy="16" r="16" transform="translate(1559 353)"
                                                                fill="#296478" />
                                                            <g id="Icon_ionic-ios-eye" data-name="Icon ionic-ios-eye"
                                                                transform="translate(1563.748 355.125)">
                                                                <path id="Path_28" data-name="Path 28"
                                                                    d="M11.242,7.875c-3.23,0-5.777,2.033-8.823,5.355a.635.635,0,0,0,0,.856c2.607,2.881,4.905,5.359,8.827,5.359,3.873,0,6.778-3.122,8.843-5.384a.63.63,0,0,0,.02-.832C18,10.679,15.087,7.875,11.242,7.875Zm.177,9.4a3.616,3.616,0,1,1,3.443-3.443A3.617,3.617,0,0,1,11.419,17.272Z"
                                                                    fill="#dbe5e8" />
                                                                <path id="Path_29" data-name="Path 29"
                                                                    d="M15.99,14.161a1.828,1.828,0,0,1,.121-.657c-.039,0-.078,0-.121,0a2.49,2.49,0,1,0,2.49,2.49c0-.051,0-.1,0-.152a1.725,1.725,0,0,1-.708.152A1.806,1.806,0,0,1,15.99,14.161Z"
                                                                    transform="translate(-4.74 -2.33)" fill="#dbe5e8" />
                                                            </g>
                                                        </g>
                                                    </svg>

                                                </i>
                                                <i class=" mr-2" (click)="deletePoc(poc)">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="32"
                                                        height="32" viewBox="0 0 32 32">
                                                        <defs>
                                                            <clipPath id="clip-path">
                                                                <rect id="Rectangle_17030" data-name="Rectangle 17030"
                                                                    width="26" height="26"
                                                                    transform="translate(-0.258 -0.258)"
                                                                    fill="#dbe5e8" />
                                                            </clipPath>
                                                        </defs>
                                                        <g id="Group_9724" data-name="Group 9724"
                                                            transform="translate(-1601 -353)">
                                                            <circle id="Ellipse_32" data-name="Ellipse 32" cx="16"
                                                                cy="16" r="16" transform="translate(1601 353)"
                                                                fill="#296478" />
                                                            <g id="Group_17904" data-name="Group 17904"
                                                                transform="translate(1578.055 351.055)">
                                                                <g id="Group_17903" data-name="Group 17903"
                                                                    transform="translate(26.204 5.204)"
                                                                    clip-path="url(#clip-path)">
                                                                    <path id="Path_24772" data-name="Path 24772"
                                                                        d="M53.8,38.936l-1.114,1.116c-.053-.046-.116-.1-.175-.151a8.487,8.487,0,0,0-6.693-2.282,8.785,8.785,0,0,0-7.849,6.561,8.887,8.887,0,1,0,17.3,4.04,7.968,7.968,0,0,0-.023-3.5.442.442,0,0,1,.146-.48c.361-.351.694-.731,1.075-1.077a9.579,9.579,0,0,1,.322,5.657,10.152,10.152,0,0,1-4.443,6.406A10.5,10.5,0,0,1,40.075,38.194a10.4,10.4,0,0,1,13.725.742"
                                                                        transform="translate(-33.814 -33.721)"
                                                                        fill="#dbe5e8" />
                                                                    <path id="Path_24773" data-name="Path 24773"
                                                                        d="M129.3,98.623l-4.513-4.573,1.09-1.1,3.375,3.392,9.115-9.114,1.155,1.154L129.3,98.623"
                                                                        transform="translate(-116.567 -81.541)"
                                                                        fill="#dbe5e8" />
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>

                                                </i>
                                                <i class="" (click)="toggelePoc(poc)">

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                        viewBox="0 0 32 32">
                                                        <g id="Group_17925" data-name="Group 17925"
                                                            transform="translate(-1727 -297)">
                                                            <circle id="Ellipse_33" data-name="Ellipse 33" cx="16"
                                                                cy="16" r="16" transform="translate(1727 297)"
                                                                fill="#296478" />
                                                            <path id="path17850"
                                                                d="M9.5,0A9.5,9.5,0,1,0,19,9.5,9.5,9.5,0,0,0,9.5,0ZM9.327,2.381a3.674,3.674,0,0,1,2.725,1.034A3.308,3.308,0,0,1,13,5.721a3.381,3.381,0,0,1-.769,2.306c-.695,1.044-2.442,2.556-2.112,4.252l-1.333-.023A4.254,4.254,0,0,1,8.8,8.692c.45-.946.787-1.25,1.153-2.125A1.462,1.462,0,0,0,8.658,4.7a1.249,1.249,0,0,0-1.338.878H6.238c-.093-.054-.295-.114-.228-1.1S8.175,2.378,9.327,2.381Zm.067,11.005A1.616,1.616,0,1,1,7.781,15,1.612,1.612,0,0,1,9.395,13.386Z"
                                                                transform="translate(1733.501 303.501)"
                                                                fill="#dbe5e8" />
                                                        </g>
                                                    </svg>

                                                </i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree6">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree6"
                            aria-expanded="true" aria-controls="collapseThree6">
                            <span class="circle_value">3</span> Services Line
                        </div>
                    </div>
                    <div id="collapseThree6" class="collapse" aria-labelledby="headingThree6"
                        data-parent="#accordionExample6">
                        <div class="card-body">
                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label>Focus Area*</label>
                                        <select class="form-control" formControlName="FocusAreaId">
                                            <option value="">Select focus area</option>
                                            <option *ngFor="let focuslist of focusAreaList" [value]="focuslist.Id">
                                                {{focuslist.Name}}</option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('FocusAreaId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Service Categories*</label>
                                        <select class="form-control" formControlName="ServiceCategoryId">
                                            <option value="">Select service categories</option>
                                            <option *ngFor="let servicecategorieslist of serviceCategoriesList"
                                                [value]="servicecategorieslist.Id">{{servicecategorieslist.Name}}
                                            </option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ServiceCategoryId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Service Line*</label>
                                        <select class="form-control" formControlName="ServiceLinesId">
                                            <option value="">Select service line</option>
                                            <option *ngFor="let servicelinelist of serviceLineList"
                                                [value]="servicelinelist.Id">{{servicelinelist.Name}}</option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ServiceLinesId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour6">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseFour6"
                            aria-expanded="true" aria-controls="collapseFour6">
                            <span class="circle_value">4</span> Project Details
                        </div>
                    </div>
                    <div id="collapseFour6" class="collapse" aria-labelledby="headingFour6"
                        data-parent="#accordionExample6">
                        <div class="card-body">
                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label>Project Practice*</label>
                                        <select class="form-control" formControlName="ProjectPractise">
                                            <option value="">Select project practice</option>
                                            <option *ngFor="let projectpractice of projectPractice"
                                                [value]="projectpractice.Id">{{projectpractice.Name}}</option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ProjectPractise','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Practice Head*</label>
                                        <select class="form-control" formControlName="PractiseHead">
                                            <option value="">Select project head</option>
                                            <option *ngFor="let practicehead of practiceHead" [value]="practicehead.Id">
                                                {{practicehead.Name}}</option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('PractiseHead','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Project Name*</label>
                                        <input type="test" class="form-control" placeholder="" formControlName="Name">
                                        <mat-error *ngIf="isControlHasError('Name','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Project Priority*</label>
                                        <select class="form-control" formControlName="ProjectPriorityId">
                                            <option value="">Select project priority</option>
                                            <option *ngFor="let projectpriority of projectPriority"
                                                [value]="projectpriority.Id">{{projectpriority.Name}}</option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ProjectPriorityId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Project Type*</label>
                                        <select class="form-control" formControlName="ProjectTypeId">
                                            <option value="">Select project type</option>
                                            <option *ngFor="let projecttype of projectType" [value]="projecttype.Id">
                                                {{projecttype.Name}}</option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ProjectTypeId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Project Status*</label>
                                        <select class="form-control" formControlName="ProjectStatusId">
                                            <option value="">Select status</option>
                                            <option *ngFor="let projectstatus of projectStatus"
                                                [value]="projectstatus.Id">{{projectstatus.Name}}</option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ProjectStatusId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Start Date*</label>
                                        <input type="date" class="form-control" placeholder=""
                                            formControlName="StartDate" (change)="startDate($event)">
                                        <mat-error *ngIf="isControlHasError('StartDate','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">End Date*</label>
                                        <input type="date" class="form-control" placeholder="" formControlName="EndDate"
                                            [min]="endDateValue">
                                        <mat-error *ngIf="isControlHasError('EndDate','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive6">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseFive6"
                            aria-expanded="true" aria-controls="collapseFive6">
                            <span class="circle_value">5</span> Work Order
                        </div>
                    </div>
                    <div id="collapseFive6" class="collapse" aria-labelledby="headingFive6"
                        data-parent="#accordionExample6">
                        <div class="card-body">
                            <div class="kt-portlet__body">
                                <form class="form form-label-left" [formGroup]="workOrderForm"
                                    enctype="multipart/form-data">

                                    <div class="form-group row">
                                        <div class="col-lg-4 mb-4 p-2">
                                            <label>Number*</label>
                                            <input type="text" class="form-control" placeholder=""
                                                formControlName="WorkOrderNumber">
                                            <mat-error *ngIf="isworkOrderControlHasError('WorkOrderNumber','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-4 mb-4 p-2">
                                            <label class="">Date*</label>
                                            <input type="date" class="form-control" formControlName="WorkOrderDate">
                                            <mat-error *ngIf="isworkOrderControlHasError('WorkOrderDate','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-4 mb-4 p-2">
                                            <label class="">Amount*</label>
                                            <input type="text" class="form-control" formControlName="WorkOrderAmount">
                                            <mat-error *ngIf="isworkOrderControlHasError('WorkOrderAmount','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-4 mb-4 p-2">
                                            <label class="">Currency*</label>
                                            <select class="form-control" formControlName="CurrencyId">
                                                <option value="">Select currency</option>
                                                <option *ngFor="let currency of currency" [value]="currency.Id">
                                                    {{currency.Name}}</option>
                                            </select>
                                            <mat-error *ngIf="isworkOrderControlHasError('CurrencyId','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-2 mb-4 p-2">
                                            <div>
                                                <label class="">One time Invoice*</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="Yesinvoice" name="OneTimeInvoice" value=1
                                                    formControlName="OneTimeInvoice">
                                                 <label for="Yesinvoice">Yes</label>
                                                 <input type="radio" id="Noinvoice" name="OneTimeInvoice" value=0
                                                    formControlName="OneTimeInvoice">
                                                 <label for="Noinvoice">No</label>
                                            </div>

                                            <mat-error *ngIf="isworkOrderControlHasError('OneTimeInvoice','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-2 mb-4 p-2">
                                            <div>
                                                <label class="">Advance Milestone*</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="Yesmilestone" name="AdvanceMilestone" value=1
                                                    formControlName="AdvanceMilestone">
                                                  <label for="Yesmilestone">Yes</label>
                                                  <input type="radio" id="Nomilestone" name="AdvanceMilestone" value=0
                                                    formControlName="AdvanceMilestone">
                                                  <label for="Nomilestone">No</label>
                                            </div>
                                            <mat-error
                                                *ngIf="isworkOrderControlHasError('AdvanceMilestone','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-2 mb-4 p-2">
                                            <div>
                                                <label class="">Auto Renewal On Due Date*</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="Yesrenewal" name="AutoRenewal" value=1
                                                    formControlName="AutoRenewal">
                                                  <label for="Yesrenewal">Yes</label>
                                                  <input type="radio" id="Norenewal" name="AutoRenewal" value=0
                                                    formControlName="AutoRenewal">
                                                  <label for="Norenewal">No</label><br>
                                            </div>
                                            <mat-error *ngIf="isworkOrderControlHasError('AutoRenewal','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-4 mb-4 p-2">
                                            <label class="">Upload Work Order*</label>
                                            <input type="file" class="form-control" placeholder=""
                                                (change)="onFileChange($event)">
                                            <label style="font-size: 10px;">*Only Pdf File with max size 5
                                                MB</label><br>
                                            <mat-error
                                                *ngIf="isworkOrderControlHasError('WorkOrderFileName','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingsix6">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapsesix6"
                            aria-expanded="true" aria-controls="collapsesix6">
                            <span class="circle_value">6</span> Payment Milestones (Fixed Cost Type)
                        </div>
                    </div>
                    <div id="collapsesix6" class="collapse" aria-labelledby="headingsix6"
                        data-parent="#accordionExample6">
                        <div class="card-body">
                            <div class="kt-portlet__body">
                                <form class="form form-label-left" [formGroup]="paymentMilestoneForm">
                                    <div class="row">
                                        <div class="col-lg-11">
                                            <div class="form-group row">
                                                <div class="col-lg-4 mb-4 p-2">
                                                    <label>Milestone Name*</label>
                                                    <input type="text" class="form-control" placeholder=""
                                                        formControlName="MilestoneName">
                                                    <mat-error
                                                        *ngIf="isPaymentMilestoneControlHasError('MilestoneName','required')">
                                                        {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                                    </mat-error>
                                                </div>
                                                <div class="col-lg-4 mb-4 p-2">
                                                    <label class="">Milestone Amount*</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="MilestoneAmountPercentage">
                                                    <mat-error
                                                        *ngIf="isPaymentMilestoneControlHasError('MilestoneAmountPercentage','required')">
                                                        {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                                    </mat-error>
                                                </div>
                                                <div class="col-lg-4 mb-4 p-2">
                                                    <label class="">Expected Due Date*</label>
                                                    <input type="date" class="form-control"
                                                        formControlName="ExpectedDueDtae">
                                                    <mat-error
                                                        *ngIf="isPaymentMilestoneControlHasError('ExpectedDueDtae','required')">
                                                        {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                                    </mat-error>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 pt-4 addMilestone">
                                            <div class="row mt-5">
                                                <div class="col-lg-2  p-2">
                                                    <button class="btn-primary btn mt-3 ml-4" type="button"
                                                        (click)="paymentMilestoneSave()">+Add</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>

                                <table class="table table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center">Milestone Name</th>
                                            <th class="text-center">Milestone Amount</th>
                                            <th class="text-center">Expected Due Date</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let pm of PaymentMilestoneList">
                                            <td class="text-center">{{pm.MilestoneName}}</td>
                                            <td class="text-center">{{pm.MilestoneAmountPercentage}}</td>
                                            <td class="text-center">{{pm.ExpectedDueDtae.split(' ')[0]}}</td>
                                            <td class="text-center">

                                                <i class="mr-2" (click)="updatePaymentMilestone(pm.Id)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                        viewBox="0 0 32 32">
                                                        <g id="Group_9726" data-name="Group 9726"
                                                            transform="translate(-1559 -353)">
                                                            <circle id="Ellipse_31" data-name="Ellipse 31" cx="16"
                                                                cy="16" r="16" transform="translate(1559 353)"
                                                                fill="#296478" />
                                                            <g id="Icon_ionic-ios-eye" data-name="Icon ionic-ios-eye"
                                                                transform="translate(1563.748 355.125)">
                                                                <path id="Path_28" data-name="Path 28"
                                                                    d="M11.242,7.875c-3.23,0-5.777,2.033-8.823,5.355a.635.635,0,0,0,0,.856c2.607,2.881,4.905,5.359,8.827,5.359,3.873,0,6.778-3.122,8.843-5.384a.63.63,0,0,0,.02-.832C18,10.679,15.087,7.875,11.242,7.875Zm.177,9.4a3.616,3.616,0,1,1,3.443-3.443A3.617,3.617,0,0,1,11.419,17.272Z"
                                                                    fill="#dbe5e8" />
                                                                <path id="Path_29" data-name="Path 29"
                                                                    d="M15.99,14.161a1.828,1.828,0,0,1,.121-.657c-.039,0-.078,0-.121,0a2.49,2.49,0,1,0,2.49,2.49c0-.051,0-.1,0-.152a1.725,1.725,0,0,1-.708.152A1.806,1.806,0,0,1,15.99,14.161Z"
                                                                    transform="translate(-4.74 -2.33)" fill="#dbe5e8" />
                                                            </g>
                                                        </g>
                                                    </svg>

                                                </i>
                                                <i class="mr-2" (click)="deletePaymentMilestone(pm)">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="32"
                                                        height="32" viewBox="0 0 32 32">
                                                        <defs>
                                                            <clipPath id="clip-path">
                                                                <rect id="Rectangle_17030" data-name="Rectangle 17030"
                                                                    width="26" height="26"
                                                                    transform="translate(-0.258 -0.258)"
                                                                    fill="#dbe5e8" />
                                                            </clipPath>
                                                        </defs>
                                                        <g id="Group_9724" data-name="Group 9724"
                                                            transform="translate(-1601 -353)">
                                                            <circle id="Ellipse_32" data-name="Ellipse 32" cx="16"
                                                                cy="16" r="16" transform="translate(1601 353)"
                                                                fill="#296478" />
                                                            <g id="Group_17904" data-name="Group 17904"
                                                                transform="translate(1578.055 351.055)">
                                                                <g id="Group_17903" data-name="Group 17903"
                                                                    transform="translate(26.204 5.204)"
                                                                    clip-path="url(#clip-path)">
                                                                    <path id="Path_24772" data-name="Path 24772"
                                                                        d="M53.8,38.936l-1.114,1.116c-.053-.046-.116-.1-.175-.151a8.487,8.487,0,0,0-6.693-2.282,8.785,8.785,0,0,0-7.849,6.561,8.887,8.887,0,1,0,17.3,4.04,7.968,7.968,0,0,0-.023-3.5.442.442,0,0,1,.146-.48c.361-.351.694-.731,1.075-1.077a9.579,9.579,0,0,1,.322,5.657,10.152,10.152,0,0,1-4.443,6.406A10.5,10.5,0,0,1,40.075,38.194a10.4,10.4,0,0,1,13.725.742"
                                                                        transform="translate(-33.814 -33.721)"
                                                                        fill="#dbe5e8" />
                                                                    <path id="Path_24773" data-name="Path 24773"
                                                                        d="M129.3,98.623l-4.513-4.573,1.09-1.1,3.375,3.392,9.115-9.114,1.155,1.154L129.3,98.623"
                                                                        transform="translate(-116.567 -81.541)"
                                                                        fill="#dbe5e8" />
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </i>
                                                <i class="mr-2" (click)="toggelePaymentMilestone(pm)">

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                        viewBox="0 0 32 32">
                                                        <g id="Group_17925" data-name="Group 17925"
                                                            transform="translate(-1727 -297)">
                                                            <circle id="Ellipse_33" data-name="Ellipse 33" cx="16"
                                                                cy="16" r="16" transform="translate(1727 297)"
                                                                fill="#296478" />
                                                            <path id="path17850"
                                                                d="M9.5,0A9.5,9.5,0,1,0,19,9.5,9.5,9.5,0,0,0,9.5,0ZM9.327,2.381a3.674,3.674,0,0,1,2.725,1.034A3.308,3.308,0,0,1,13,5.721a3.381,3.381,0,0,1-.769,2.306c-.695,1.044-2.442,2.556-2.112,4.252l-1.333-.023A4.254,4.254,0,0,1,8.8,8.692c.45-.946.787-1.25,1.153-2.125A1.462,1.462,0,0,0,8.658,4.7a1.249,1.249,0,0,0-1.338.878H6.238c-.093-.054-.295-.114-.228-1.1S8.175,2.378,9.327,2.381Zm.067,11.005A1.616,1.616,0,1,1,7.781,15,1.612,1.612,0,0,1,9.395,13.386Z"
                                                                transform="translate(1733.501 303.501)"
                                                                fill="#dbe5e8" />
                                                        </g>
                                                    </svg>

                                                </i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="form-group row">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- </div> -->
            <div class="row mt-6">
                <!-- <div class="col-2"></div> -->
                <!-- <div class="col-12 text-right">
                    <button class="btn-primary btn" type="button" (click)="save()">Cancel</button>
                </div> -->
                <div class="col-12 text-right">
                    <button class="btn-primary btn" type="button" (click)="save()"
                        [disabled]="isSubmitted ? true: false" *ngIf="!roleId">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>