

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total User</h5>
        <p>Total Users = {{allData?.totalRecords}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Active User</h5>
        <p>Active Users = {{allData?.activeUser}} </p>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">InActive User</h5>
        <p>InActive Users = {{allData?.inactiveUser}} </p>
      </div>
    </div>
  </div>
</div>


<!-- chart data -->

<div class="chart-wrapper d-flex justify-content-between" style= "width: 800px; " >
  <canvas baseChart 
  [data]="pieChartData" 
  [labels]="pieChartLabels" 
  [chartType]="pieChartType"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [colors]="pieChartColor"
  [legend]="pieChartLegend">
</canvas>
</div>