

<!-- <div class="row " style="justify-content: space-around;">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total User</h5>
        <p>Total Users = {{allData?.totalRecords}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 ">
    <div class="card ">
      <div class="card-body">
        <h5 class="card-title">Active User</h5>
        <p>Active Users = {{allData?.activeUser}} </p>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">InActive User</h5>
        <p>InActive Users = {{allData?.inactiveUser}} </p>
      </div>
    </div>
  </div>
</div> -->

<div class="container ">
  <div class="row d-flex justify-content-center">
  <div class="col-md-3">
    <div class="card-counter success d-flex ">
      <div><i class="fa fa-database mx-3"></i></div>
      <div>
        <span class="count-numbers">{{allData?.totalRecords}}</span>
        <span class="count-name">Total User</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter info d-flex">
      <div><i class="fa fa-users mx-3"></i></div>
      <div>
        <span class="count-numbers">{{allData?.activeUser}}</span>
        <span class="count-name">Active User</span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter info d-flex">
      <div>
        <i class="fa fa-users mx-3"></i>
      </div>
      <div>
        <span class="count-numbers">{{allData?.inactiveUser}}</span>
        <span class="count-name">In-Active User</span>
      </div>
    </div>
  </div>
</div>
</div>



<!-- chart data -->
<div class="d-flex justify-content-center">
<div class="chart-wrapper d-flex justify-content-between" style= "width: 900px; " >
  <canvas baseChart 
  [data]="pieChartData" 
  [labels]="pieChartLabels" 
  [chartType]="pieChartType"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [colors]="pieChartColor"
  [legend]="pieChartLegend">
</canvas>
</div>
</div>


<!-- <div class="container">
  <div class="row">
  <div class="col-md-3">
    <div class="card-counter success">
      <i class="fa fa-database"></i>
      <span class="count-numbers">{{allData?.totalRecords}}</span>
      <span class="count-name">Total User</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter info">
      <i class="fa fa-users"></i>
      <span class="count-numbers">{{allData?.activeUser}}</span>
      <span class="count-name">Active User</span>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter info">
      <i class="fa fa-users"></i>
      <span class="count-numbers">{{allData?.inactiveUser}}</span>
      <span class="count-name">In-Active User</span>
    </div>
  </div>
</div>
</div> -->
