// @import "../../../../assets/sass/pages/login/login-1.scss";

// :host {
//     width: 100%;
//     @media (min-width: 992px) {
//       .login-form {
//         width: 100%;
//         max-width: 450px;
//         margin: 0 auto;
//         .mat-form-field {
//           width: 100%;
//         }
//       }
//     }
//   }
  
//   .text-white{
//     color: #fff !important;
//   }
  
//   .form .form-group {
//     margin-bottom: 0;
//     padding-top: 5px !important;
//     padding-bottom: 5px !important;
//   }
//   .password-input {
//     position: relative;
//     .eye-icon {
//       position: absolute;
//       right: 11px;
//       top: 16px;
//       cursor: pointer;
//       color: #b5b5c3;
//     }
//   }
//   .login-form {
//     background: #61605c80;
//     padding: 19px;
//     border-radius: 18px;
//     .form-control {
//       background-color: #f3f6f9;
//       border: none;
//       color: #b5b5c3;
//     }
//     .login-btn {
//       background:#3699ff;
//       border-color:#3699ff;
//       color: #fff;
//       // width: 100%;
//     }
//     .btn-light-primary {
//       color: gray;
//     }
//   }
//   .bottom-logo{
//     img{
//       width: 270px;
//     }
//   }
  
@import "../../../../assets/sass/pages/login/login-1.scss";

:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
      .mat-form-field {
        width: 100%;
      }
    }
  }
}
.password-input {
  position: relative;
  .eye-icon {
    position: absolute;
    right: 11px;
    top: 16px;
    cursor: pointer;
    color: #b5b5c3;
  }
}
.login-form {
  background: #61605c80;
  padding: 19px;
  border-radius: 18px;
  .form-control {
    background-color: #2d2d2d;
    border: none;
    color: #b5b5c3;
  }
  .login-btn {
    background:#3699ff;
    border-color:#3699ff;
    color: #fff;
    width: 27%;
  }
}
.bottom-logo{
  img{
    // width: 270px;
  }
}
.text-white {
  color: #fff !important;
}
.btn-light-primary {
  color: gray;
}