<ng-container >
  <div class="bottom-logo text-center mb-5">
    <img src="assets/media/logos/logo.png" alt="Logo"/>
  </div>
  <div class="login-form login-signin">
    <div class="pb-3 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-white font-size-h4 font-size-h1-lg">
        Change Password
      </h3>
      <span class="text-muted font-weight-bold font-size-sm mt-1">Set your account password</span>
    </div>
    <!--begin::Form-->
    <form class="form form-label-left" [formGroup]="formGroup" (ngSubmit)="save()">
      <!--begin::Alert-->
      <!--end::Alert-->
      <div class="form-group password-input pt-1">
        <input
          class="form-control form-control-solid h-auto py-4 px-6 rounded-lg"
          [type]="show?'text':'password'"
          placeholder="Passsword"
          name="password"
          formControlName="password"
          autocomplete="off"
        />
        <mat-icon class="eye-icon" (click)="togglePassword()">{{!show?'visibility_off':'visibility'}}</mat-icon>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Password is required',
            control: formGroup.controls['password']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'pattern',
            message: 'Contains 8-15 characters, at least one number, at least one upper character, at least one
            lower
            character, at least one special character.',
            control: formGroup.controls['password']
          }"
        ></ng-container>
      </div>
      <!--end::Form group-->

      <!--begin::Form group-->
      <div class="form-group password-input pt-1">
        <input
          class="form-control form-control-solid h-auto py-4 px-6 rounded-lg"
          [type]="showcnf ? 'text' : 'password'"
          placeholder="Confirm password"
          name="cPassword"
          autocomplete="off"
          formControlName="cPassword"
        />
        <mat-icon class="eye-icon" (click)="toggleconfirmPassword()">{{!showcnf?'visibility_off':'visibility'}}</mat-icon>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Confirm Password is required',
            control: formGroup.controls['cPassword']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Confirm Password should have at least 3 symbols',
            control: formGroup.controls['cPassword']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxLength',
            message: 'Confirm Password should have maximum 100 symbols',
            control: formGroup.controls['cPassword']
          }"
        ></ng-container>
        <ng-container
          *ngIf="
            formGroup.controls['cPassword'].errors &&
            formGroup.controls['cPassword'].errors.ConfirmPassword
          "
        >
          <div class="fv-plugins-message-container">
            <div class="fv-help-block">S
              'Passsword' and 'Confirm Password' didn't match.
            </div>
          </div>
        </ng-container>
      </div>
      <!--end::Form group-->
      <!-- <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label text-white">New Password</label>
        <div class="col-lg-9 col-xl-8">
          <input type="password"
            class="form-control form-control-lg form-control-solid"
            placeholder="New password"
            autocomplete="off"
            formControlName="password"
            [class.is-invalid]="isControlInvalid('password')"
            [class.is-valid]="isControlValid('password')"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label text-white">Verify Password</label>
        <div class="col-lg-9 col-xl-8">
          <input type="password"
            class="form-control form-control-lg form-control-solid"
            placeholder="Confirm password"
            autocomplete="off"
            formControlName="cPassword"
            [class.is-invalid]="isControlInvalid('cPassword')"
            [class.is-valid]="isControlValid('cPassword')"
          />
          <div class="valid-feedback" *ngIf="isControlValid('cPassword')">Password confirmation was entered correct</div>
          <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">'Passsword' and 'Confirm Password' didn't match.</div>
        </div>
      </div> -->
      <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
        <button
          type="submit"
          id="kt_login_signup_submit"
          class="btn login-btn  font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3" (click)="save()">
          Save
        </button>
        <a routerLink="/auth/login"
          type="button"
          id="kt_login_signup_cancel"
          class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
          Cancel
        </a>
      </div>

      </form>
    <!--end::Form-->
  </div>
  </ng-container>
  <ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>