.checked {
    color: orange;
}

.myOwn {
    font-family: Roboto, Helvetica Neue, sans-serif !important;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

dt {
    float: left;
    width: 50%;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

dd {
    float: left;
    width: 50%;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
    .custom-slider .ng5-slider .ng5-slider-bar {
      background: #3699ff;
      height: 5px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
      background: red;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: -1px;
      background-color: red;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-bubble {
      bottom: 14px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-limit {
      font-weight: bold;
      color: black;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
      background: blue;
    }
  }

  .bold {
    font-weight: 600 !important;
  }