<div>
  <div>
      <div class="modal-header">
          <h3 class="modal-title">Add Bucket</h3>
          <span class="kt-portlet__head-icon kt-hide">
              <em class="la la-gear"></em>
          </span>
      </div>
  </div>
  <div class="kt-form">
    <form class="form form-label-left" [formGroup]="buckets">
      <div class="modal-body">
          <div class="form-group row">
            <label for="example-text-input" class="col-xl-3 col-lg-3 col-form-label">Name<span
                    class="text-danger">*</span></label>
            <div class="col-9">
              <input appAutofocus class="form-control form-control-lg" type="text"
              formControlName="bucket_name"  id="bucket_name"
              placeholder="Please enter bucket name"
              title="Bucket" />
                <mat-error *ngIf="isControlHasError('bucket_name','required')">
                    {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
            </div>
        </div>

      </div>
    </form>
      <div class="modal-footer text-right">
          <div class="kt-form__actions kt-form__actions--sm">
            <button mat-button (click)="cancel()"> Cancel </button> &nbsp;&nbsp;
            <button mat-button (click)="bucketAdd()" color="primary" class="bg-danger text-white" [disabled]="isSubmitted ? true: false" > Save </button>
          </div>
      </div>
  </div>
</div>
