<!--begin::Signup-->
<!-- <div class="bottom-logo text-center mb-5">
    <img src="assets/media/logos/logo.png" />
  </div>
<div class="login-form login-signup">
   <h1 class="text-white">Welcome!</h1>
   <p class="confirm-text text-white">Let's get you started using Sync-n-Scale</p>
   <div class="m-auto text-center"> <a href="/auth/login" class="text-center">Go to Login Page</a></div>
  </div> -->
  <!--end::Signup-->


  <!--begin::Signup-->
<div class="bottom-logo text-center mb-5">
  <img src="assets/media/logos/logo.png" alt="Logo" />
</div>
<div class="login-form login-signup">
 <h1 class="text-white">Welcome!</h1>
 <p class="confirm-text text-white">Let's get you started using Sync-n-Scale.</p>
<div class="m-auto text-center"> <a routerLink="/auth/login" class="text-center">Go to Login Page</a></div>
</div>
<!--end::Signup-->


