<div class="container">
  <h2 class="my-3">Country list</h2>
  <div class="formdiv card">
    <div class="card-body p-4">
      <div class="row mb-3">
        <div class="col-6">
          <h3>Search Country</h3>
        </div>
        <div class="col-6">
          <a style="background-color: orange; text-decoration: none" routerLink="/country/add"
            class="p-2 text-dark rounded-3 float-end">+ Add new country</a>
        </div>
      </div>
      <form [formGroup]="SearchForm" (ngSubmit)="search()">

        <div class="row">
          <div class="col-6">
            <label for="Sname" class="form-label">Country Name</label>
            <input type="text" name="name" formControlName="Name" class="form-control" id="myInput"
              placeholder="Country names.." title="" />
          </div>
          <div class="col-6">
            <!--       <label for="inputPassword5" class="form-label">Status</label>
            <input type="text" name="city" class="form-control" id="myInput"
              placeholder="" title="" /> -->
            <label for="inputPassword5" class="form-label">Choose a Status</label>
            <select class="form-control" name="" id="" formControlName="Status">
              <option value="" selected>All</option>
              <option value="1">Active</option>
              <option value="0">In-Active</option>

            </select>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-1">
            <button type="submit" class="btn btn-primary ms-2" style="width: 90px; padding: 10px">
              Search
            </button>
          </div>
          <div class="col-1">
            <button type="button" (click)="resetForm()" class="btn btn-primary ms-2" style="width: 90px; padding: 10px">
              Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container d-flex align-items-center justify-content-center flex-column"
    [ngStyle]="{'height': (data === null) ? '80vh' : null }">
    <div class="d-flex justify-content-center" *ngIf="data === null">
      <div class="spinner-border text-dark spinner" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="card mt-5 w-100">
      <div class="card-body">
        <div *ngIf="msg" [ngClass]="clss">{{msg}}</div>
        <button type="button" class="btn btn-danger" (click)="deleteProduct()">Delete Selected Product(s)</button>
        <button type="button" class="btn btn-primary mx-2" (click)="UpdateStatus()">Update Status</button>
        <!-- <button type="button" class="btn btn-primary" (click)="changeSelectedStatus('0')">Make Selected
          InActive</button> -->

        <table class="table mt-4">
          <thead>
            <tr>
              <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>

              <th scope="col">Country Name</th>
              <th scope="col">Country Code</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngIf="data.length > 0">
            <tr *ngFor="let p of data; let i=index; let odd = odd" [ngClass]="odd ? 'odd_col' : 'even_col'">

              <td><input type="checkbox" value="{{p._id}}" [(ngModel)]="data[i].checked"
                  (change)="deleteProducts(p._id)"></td>

              <td>{{ p.Name }}</td>
              <td>{{ p.Code }}</td>
              <td>
                <span class="badge bg-success" *ngIf="p.Status === '1'">Active</span>
                <span class="badge bg-danger" *ngIf="p.Status === '0'">In-Active</span>
              </td>
              <td>
                <i class="fa-regular fa-pen-to-square me-3" (click)="userEdit(p._id)"></i>
                <i class="fa-solid fa-trash-can" (click)="userDelete(p._id)"></i>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="data.length == 0">
            <tr>
              <td colspan="5" class="text-center">No Record Found</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>

    <div class="modal" [ngClass]="updateModal ? 'd-block' : 'd-none'" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeUpdateModal()"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="UpdateStatusForm" id="UpdateStatusForm" (ngSubmit)="UpdateAllStatus()">
              <label for="inputPassword5" class="form-label">Choose a Status</label>
              <select class="form-control" name="" id="" formControlName="Status">
                <option value="1">Active</option>
                <option value="0">In-Active</option>
  
              </select>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeUpdateModal()">Close</button>
            <button type="submit" form="UpdateStatusForm" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>