.header{
    background-color: #1c3c5d;
}
.form-group label{
    color: #313131;
    font-size: 16px;
    font-weight: 600;
}
.accordion{
    &.accordion-toggle-plus {
        .card {
            .card-header {
                .card-title{
                    color: #1c3c5d;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
}
span.circle_value {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    line-height: 1;
    margin-right: 15px;
    position: relative;
}
@media (min-width: 992px) {
    .header{
        background-color: #1c3c5d;
    }   
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:transparent;
    background-clip: border-box;
    // border: 1px solid #EBEDF3;
    // border-radius: 0.42rem;
}
