<div class="card card-custom  gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">{{ 'PAGES.MENU.MENU_LIST' |translate }}</h3>
        </div>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <app-add-item-btn [moduleUrl]="moduleUrl" [title]="title" [moduleSlug]="moduleSlug"></app-add-item-btn>
            </div>
        </div>
    </div>
    <div class="card-body">
        <app-listing [displayedColumns]="displayedColumns" [feild]="feild" [moduleUrl]="moduleUrl"
        [moduleSlug]="moduleSlug"
            [moduleName]="moduleName" [titleFeild]="titleFeild" [moduleNameServiceRoute]="moduleNameServiceRoute"></app-listing>
    </div>
</div>