.clientTable{
    color: azure;
}
.password-input {
    position: relative;
    .eye-icon {
      position: absolute;
      right: 11px;
      top: 16px;
      cursor: pointer;
      color: #b5b5c3;
    }
  }