<div class="card card-custom  gutter-b">
  <div class="card-header">
      <div class="card-title">
          <h3 class="card-label">{{ !userId?'Add New User':'Update User' }}</h3>
      </div>
  </div>
  <div class="card-body">
      
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeIdString" (navChange)="aftertabChange($event)" class="nav-tabs">
          
          <li [ngbNavItem]="1">
              
              <a ngbNavLink>User Profile</a>

              <ng-template ngbNavContent>

                  <form class="form form-label-left" [formGroup]="userForm">

                      <div class="form-group row">
                          <label for="example-text-input" class="col-xl-2 col-lg-2 col-form-label">First Name <span
                                  class="text-danger">*</span></label>
                          <div class="col-6">
                              <input class="form-control form-control-lg" type="text" formControlName="first_name"
                                  placeholder="User" title="User" />
                              <mat-error *ngIf="isControlHasError('first_name','required')">
                                  {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                              </mat-error>
                              <mat-error *ngIf="isControlHasError('first_name','pattern')">
                                  {{'AUTH.VALIDATION.INVALID_FIELD' |translate}}
                              </mat-error>
                              <div>
                                  <mat-error *ngIf="isControlHasError('first_name','maxlength')">
                                      {{'AUTH.VALIDATION.MAX_LENGTH_FIELD' |translate}} {{fieldLength.nameMaxLength}}
                                  </mat-error>
                                  <mat-error *ngIf="isControlHasError('first_name','minlength')">
                                      {{'AUTH.VALIDATION.MIN_LENGTH_FIELD' |translate}} {{fieldLength.nameMinLength}}
                                  </mat-error>
                              </div>
                          </div>
                      </div>
          
                      <div class="form-group row">
                          <label for="example-text-input" class="col-xl-2 col-lg-2 col-form-label">Last Name <span
                                  class="text-danger">*</span></label>
                          <div class="col-6">
                              <input class="form-control form-control-lg" type="text" formControlName="last_name"
                                  placeholder="User" title="User" />
                              <mat-error *ngIf="isControlHasError('last_name','required')">
                                  {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                              </mat-error>
                              <mat-error *ngIf="isControlHasError('last_name','pattern')">
                                  {{'AUTH.VALIDATION.INVALID_FIELD' |translate}}
                              </mat-error>
                              <div>
                                  <mat-error *ngIf="isControlHasError('last_name','maxlength')">
                                      {{'AUTH.VALIDATION.MAX_LENGTH_FIELD' |translate}} {{fieldLength.nameMaxLength}}
                                  </mat-error>
                                  <mat-error *ngIf="isControlHasError('last_name','minlength')">
                                      {{'AUTH.VALIDATION.MIN_LENGTH_FIELD' |translate}} {{fieldLength.nameMinLength}}
                                  </mat-error>
                              </div>
                          </div>
                      </div>
          
                      <div class="form-group row">
                          <label for="example-text-input" class="col-xl-2 col-lg-2 col-form-label">Email <span
                                  class="text-danger">*</span></label>
                          <div class="col-6">
                              <input class="form-control form-control-lg" type="text" formControlName="email" placeholder="Email"
                                  title="Email" [readonly]="userId" style="background: #e1dada;"/>
                              <mat-error *ngIf="isControlHasError('email','required')">
                                  {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                              </mat-error>
                              <mat-error *ngIf="isControlHasError('email','pattern')">
                                  {{'AUTH.VALIDATION.INVALID_FIELD' |translate}}
                              </mat-error>
                          </div>
                      </div>
          
                      <div class="form-group row">
                          <label for="example-text-input" class="col-xl-2 col-lg-2 col-form-label">Phone</label>
                          <div class="col-6">
                              <input class="form-control form-control-lg" type="text" formControlName="phone" placeholder="Phone"
                                  title="Phone" />
                                  <mat-error *ngIf="isControlHasError('phone','required')">
                                      {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                  </mat-error>
                                  <mat-error *ngIf="isControlHasError('phone','pattern')">
                                      {{'AUTH.VALIDATION.INVALID_FIELD' |translate}}
                                  </mat-error>
                                  <mat-error *ngIf="isControlHasError('phone','maxlength')">
                                      Cannot be longer than 15 Numbers
                                  </mat-error>
                          </div>
                      </div>
          
          
                      <div class="form-group row">
                          <label for="example-text-input" class="col-xl-2 col-lg-2 col-form-label">Status <span
                                  class="text-danger">*</span></label>
                          <div class="col-10">
                              <mat-radio-group class="mt-3" id="status" formControlName="status" color="primary">
                                  <mat-radio-button class="example-radio-button" *ngFor="let status of statusArr"
                                      [value]="status.key" name="status">
                                      {{status.value}}&nbsp;
                                  </mat-radio-button>
                              </mat-radio-group>
                              <mat-error *ngIf="isControlHasError('status','required')">
                                  {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                              </mat-error>
                          </div>
                      </div>
          
          
          
                      <div class="row mt-2">
                          <div class="col-2"></div>
                          <div class="col-10">
                              <button mat-raised-button color="accent" type="button" *ngIf="userId"
                                  (click)="update()">{{'BUTTONS.UPDATE' |translate}}</button>&nbsp;
                              <button mat-raised-button color="warn" type="button"
                                  routerLink="/">{{'BUTTONS.CANCEL' |translate}}</button>
                          </div>
                      </div>
                  </form>

              </ng-template>
          </li>

          <li [ngbNavItem]="2">
              
              <a ngbNavLink>Change Password</a>

              <ng-template ngbNavContent>

                  <form class="form form-label-left" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

                      <div class="form-group row">
                          <label for="example-text-input" class="col-xl-2 col-lg-2 col-form-label">Current Password <span
                                  class="text-danger">*</span></label>
                          <div class="col-6">
                              <input class="form-control form-control-lg" type="password" formControlName="oldPassword"
                                  placeholder="Current Password" title="Current Password" />
                              <mat-error *ngIf="isControlHasError('oldPassword','required')">
                                  {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                              </mat-error>
                              <mat-error *ngIf="isControlHasError('oldPassword','isInValid')">
                                  {{ 'AUTH.VALIDATION.CURRENTPASS' | translate }}
                              </mat-error>
                          </div>
                      </div>
          
                      <div class="form-group password-input row">
                          <label for="example-text-input" class="col-xl-2 col-lg-2 col-form-label">New Password <span
                                  class="text-danger">*</span></label>
                          <div class="col-6">
                              <input class="form-control password-input form-control-lg" [type]="show?'text':'password'" formControlName="newPassword"
                                  placeholder="New Password" title="New Password" />
                                  <mat-icon class="eye-icon" (click)="togglePassword()">{{!show?'visibility_off':'visibility'}}</mat-icon>
                              <mat-error *ngIf="isControlHasError('newPassword','required')">
                                  {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                              </mat-error>
                              <mat-error *ngIf="isControlHasError('newPassword','minlength')">
                                  {{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }}
                              </mat-error>
                              <mat-error *ngIf="isControlHasError('newPassword','maxlength')">
                                  {{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }}
                              </mat-error>
                              <mat-error *ngIf="isControlHasError('newPassword','currentPassword')">
                                 New Password should not be same as Old Password
                              </mat-error>
                          </div>
                      </div>
          
                      <div class="form-group row">
                          <label for="example-text-input" class="col-xl-2 col-lg-2 col-form-label">Confirm Password <span
                                  class="text-danger">*</span></label>
                          <div class="col-6">
                              <input class="form-control form-control-lg" [type]="show?'text':'password'" formControlName="confirmPassword" 
                                  placeholder="Confirm Password"
                                  title="Confirm Password"/>
                              <mat-error *ngIf="isControlHasError('confirmPassword','required')">
                                  {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                              </mat-error>
                              <mat-error *ngIf="isControlHasError('confirmPassword','ConfirmPassword')">
                                  Confirm Password must match New Password
                              </mat-error>
                          </div>
                      </div>

                      <div class="row mt-2">
                          <div class="col-2"></div>
                          <div class="col-10">
                              <button mat-raised-button color="accent" type="submit" 
                                  >{{'BUTTONS.UPDATE' |translate}}</button>&nbsp;
                              <button mat-raised-button color="warn" type="button"
                                  (click)="onReset()">{{'BUTTONS.RESET' |translate}}</button>
                          </div>
                      </div>

                  </form>
      
              </ng-template>
          </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>

