<div class="container-fluid d-flex align-items-stretch justify-content-between">
  <!--begin::Header Menu Wrapper-->
  <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
      <!--begin::Header Menu-->
      <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
          <!--begin::Header Nav-->
          <ul class="menu-nav">
              <li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here menu-item-active" data-menu-toggle="click" aria-haspopup="true">
              </li>
              <li class="menu-item menu-item-submenu" data-menu-toggle="click" aria-haspopup="true">
              </li>
              <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
              </li>
          </ul>
          <!--end::Header Nav-->
      </div>
      <!--end::Header Menu-->
  </div>
  <!--end::Header Menu Wrapper-->
  <!--begin::Topbar-->
  <div class="topbar">
      <!--begin::User-->
      <div [ngClass]="headerContainerCSSClasses" class="d-flex align-items-stretch justify-content-between">
        <ng-container *ngIf="loader$ | async as _loader">
          <ngb-progressbar class="loading-bar" height="3px" [value]="_loader"></ngb-progressbar>
        </ng-container>
      
        <ng-container *ngIf="headerMenuSelfDisplay">
          <!--begin::Header Menu Wrapper-->
          <div kt_header_menu_wrapper class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
            <ng-container *ngIf="!asideSelfDisplay">
              <div class="header-logo" fd>
                <a routerLink="/">
                  <img alt="Logo" [attr.src]="headerLogo" />
                </a>
              </div>
            </ng-container>
      
            <ng-container *ngIf="headerMenuSelfStatic">
              <!-- DYNAMIC MENU -->
              <!-- <app-header-menu-dynamic #ktHeaderMenu id="kt_header_menu" class="header-menu header-menu-mobile"
                [ngClass]="headerMenuCSSClasses"></app-header-menu-dynamic> -->
            </ng-container>
            <!--end::Header Menu-->
          </div>
          <!--end::Header Menu Wrapper-->
        </ng-container>
      
        <ng-container *ngIf="!headerMenuSelfDisplay">
          <div></div>
        </ng-container>
      
        <app-topbar class="topbar"></app-topbar>
      </div>
      <!--end::User-->
  </div>
  <!--end::Topbar-->
</div>

<!-- <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
  <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap"> -->
      <!--begin::Info-->
     
     
      <!--end::Info-->
  <!-- </div> -->
<!-- </div> -->