<div class="row">
	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-3 mb-4">
		<a href="/user">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary  mb-1 ">
							User Count</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{usercount}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-industry  fa-2x text-muted"></i>
					</div>
				</div>
			</div>
		</div>
		</a>
	</div>

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-3 mb-4">
		<a href="/portal">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success mb-1">
							Portal Count</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{portalcount}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-users fa-2x text-muted"></i>
					</div>
				</div>
			</div>
		</div>
	  </a>
	</div>



	<!-- Earnings (Monthly) Card Example -->
	

	<div class="col-xl-3 col-md-3 mb-4">
		<a href = "/module">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary mb-1">
						Module Count</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{modulecount}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-users fa-2x text-muted"></i>
					</div>
				</div>
			</div>
		</div>
	</a>
	</div>

	<div class="col-xl-3 col-md-3 mb-4">
		<a href="/menu">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success mb-1">
						Menu Count</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{menucount}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-users fa-2x text-muted"></i>
					</div>
				</div>
			</div>
		</div>
	</a>
	</div>


	<div class="col-xl-3 col-md-3 mb-4">
		<a href="/rights">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary mb-1">
						Rights Count</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{rightscount}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-users fa-2x text-muted"></i>
					</div>
				</div>
			</div>
		</div>
	</a>
	</div>


	<div class="col-xl-3 col-md-3 mb-4">
		<a href ="/role">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success  mb-1 ">
								Role Count</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{rolecount}}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-industry  fa-2x text-muted"></i>
						</div>
					</div>
				</div>
			</div>
			</a>
		</div>

	<!-- <div class="col-xl-3 col-md-4 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<canvas baseChart [data]="pieChartData1" [labels]="pieChartLabels1" [chartType]="pieChartType1"
					(chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
			</div>
		</div>
	</div> -->

</div>