.modal-header {
  background: #12121b;
}
.modal-body,
.modal-footer {
  // background: #1b1b28;
  color: #a2a3b7;
}

.modal-body .modal-footer{
  background: #fff;
  color: #a2a3b7;
}

.modal-header{
  background: #fff;
}

.bg-danger {
  background-color:#3699ff!important;

}
.text-white {
  color: #fff !important;
}
.mat-dialog-container {
  
  padding: 0;
}
