<div class="container d-flex align-items-center flex-column ">
    <div class="row mb-3">
      <div class="col-6">
        
      </div>
      <div class="">
        <a style="background-color: orange; text-decoration: none" routerLink="/user/add"
          class="p-2 text-dark rounded-3 float-end">+ Add </a>
      </div>
    </div>
    
  </div>
<div class="container d-flex align-items-center justify-content-center flex-column" [ngStyle]="{'height': (data === null) ? '80vh' : null }">
  <div class="d-flex justify-content-center" *ngIf="data === null">
    <div class="spinner-border text-dark spinner" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
    <div class="card mt-5 w-100" *ngIf="data !== null">
      <div class="card-body">
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Image</th>
              <th scope="col">Birth Date</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of data">
              <td>{{ i.Name }}</td>
              <td>{{ i.Email }}</td>
              <td>{{ i.Number }}</td>
              <!-- <td>{{ i.Image }}</td> -->
              <td><img src="../../../assets/image/{{ i.Image }}" alt="" style="width: 50px; height: 50px;" ></td>
              <td>{{ i.Dob }}</td>
              <td>
                <span class="badge bg-success" *ngIf="i.Status === '1'">Active</span>
                <span class="badge bg-danger" *ngIf="i.Status === '0'">In-Active</span>
              </td>
              <td>
                <i class="fa-regular fa-pen-to-square me-3" routerLink='/user/edit/{{i._id}}'></i>
                <i class="fa-solid fa-trash-can" (click)="handleDelete(i._id)"></i>
              </td>
  
  
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>