
<div class="container d-flex align-items-center flex-column ">
      <div class="row mb-3">
        <div class="col-6">
          
        </div>
        <div class="">
          <a style="background-color: orange; text-decoration: none" routerLink="/city/add"
            class="p-2 text-dark rounded-3 float-end">+ Add </a>
        </div>
      </div>
      
    </div>
<div class="container d-flex align-items-center flex-column ">

<div class="card mt-5 w-100">
    <div class="card-body">
        <table class="table mt-4">
            
            <thead>
                <tr>
                    <th scope="col">Country Name</th>
                    <th scope="col">State Name</th>
                    <th scope="col">City Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of cityData">
                    <td>{{ i.CountryName }}</td>
                    <td>{{ i.StateName }}</td>
                    <td>{{ i.CityName }}</td>
                    <td>
                        <span class="badge bg-success" *ngIf="i.IsActive === 'IsActive'" >Active</span>
                        <span class="badge bg-danger" *ngIf="i.IsActive === 'InActive'" >In-Active</span>
                    </td>
                    <td>
                        <i class="fa-regular fa-pen-to-square me-3" (click)="handleEdit(i._id)" ></i> 
                        <i class="fa-solid fa-trash-can" (click)="handleDelete(i._id)"></i>
                    </td>
                </tr>
            </tbody>
        
        </table>
    </div>
</div>

</div>