<div class="bottom-logo text-center mb-5">
  <img src="assets/media/logos/logo.png" alt="Logo"/>
</div>
<div class="login-form login-forgot">
  <!--begin::Form-->
  <form class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate" [formGroup]="forgotPasswordForm"
    (ngSubmit)="submit()" id="kt_login_forgot_form" [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">
    <!--begin::Title-->
    <div class="pb-3 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-white font-size-h4 font-size-h1-lg">
        {{'AUTH.FORGOT.TITLE' |translate}}
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        {{'AUTH.FORGOT.DESC'|translate}}
      </p>
    </div>
    <!--end::Title-->

    <!-- begin::Alert error-->
    <ng-container *ngIf="errorState === errorStates.HasError">
      <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
        <div class="alert-text">The email detail is incorrect</div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="form-group fv-plugins-icon-container has-danger">
      <input class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6" type="email"
        formControlName="email" placeholder="{{'AUTH.INPUT.EMAIL' | translate}}" name="email" autocomplete="off"
        [ngClass]="{
          'is-invalid': forgotPasswordForm.controls['email'].invalid&& (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)
        }" />
      <mat-error *ngIf="isControlHasError('email','required')">
        {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
      </mat-error>
      <mat-error *ngIf="isControlHasError('email','pattern')">
        {{'AUTH.VALIDATION.INVALID_FIELD' |translate}}
      </mat-error>
      <mat-error *ngIf="isControlHasError('email','minLength')">
        {{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3
      </mat-error>
      <mat-error *ngIf="isControlHasError('email','maxLength')">
        {{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320
      </mat-error>
    </div>
    <!--end::Form group-->

    <div class="form-group pt-1">
      <re-captcha id="recaptcha" name="recaptcha" formControlName="recaptcha" required></re-captcha>
      <mat-error *ngIf="isControlHasError('recaptcha','required')">
        {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
      </mat-error>
    </div>

    <!--begin::Form group-->
    <div class="form-group d-flex flex-wrap pb-lg-0">
      <button type="submit" id="kt_login_forgot_submit"
        class="btn btn-primary login-btn font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">
        {{'BUTTONS.SUBMIT' | translate}}
      </button>
      <a routerLink="/auth/login" id="kt_login_forgot_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
        {{'BUTTONS.CANCEL' | translate}}
      </a>
      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
    <div></div>
  </form>
  <!--end::Form-->

  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="card card-custom bgi-no-repeat gutter-b emailsentmsg">
      <!--begin::Body-->
      <div class="card-body d-flex align-items-center">
        <div class="py-2">
          <h3 class="font-weight-bolder mb-3">Email is correct!</h3>
          <p class="font-size-lg">
            Message with 'recovery' instruction<br />
            has been sent<br />
          </p>
          <a routerLink="/auth/login" class="btn login-btn">
            Ok, got it!
          </a>
        </div>
      </div>
      <!--end::Body-->
    </div>
  </ng-container>
</div>