<div class="card card-custom  gutter-b">
    <!-- <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">{{ 'PAGES.CLIENT.CLIENT_LIST' |translate }}</h3>
            
            <h3 class="card-label">{{ 'PAGES.ROLE.ROLE_LIST' |translate }}</h3>

        </div>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <button class="btn-primary btn" routerLink="add">New Client</button>
            </div>
        </div>
    </div>


    <div class="card-body">

        <app-listing [displayedColumns]="displayedColumns" [feild]="feild" [moduleUrl]="moduleUrl"
            [moduleName]="moduleName" [moduleSlug]="moduleSlug" [titleFeild]="titleFeild"
            [moduleNameServiceRoute]="moduleNameServiceRoute"></app-listing>
    </div> -->

    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th class="text-center">Client Group</th>
                <th class="text-center">Account Priority</th>
                <th class="text-center">Contact Person</th>
                <th class="text-center">Industries</th>
                <th class="text-center">Account Manager</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of clientGroup">
                <td class="text-center">{{data.group_name}}</td>
                <td class="text-center">{{data.account_priority}}</td>
                <td class="text-center">{{data.contact_person_name}}</td>
                <td class="text-center">{{data.IndustryName}}</td>
                <td class="text-center">{{data.account_manager}}</td>
            </tr>
        </tbody>
    </table>
</div>