<div>
  <div>
      <div class="modal-header">
          <h3 class="modal-title text-white">Add Category</h3>
          <span class="kt-portlet__head-icon kt-hide">
              <em class="la la-gear"></em>
          </span>
      </div>
  </div>
  <div class="kt-form">
    <form class="form form-label-left" [formGroup]="categories">
      <div class="modal-body">
          <div class="form-group row">
            <label for="example-text-input" class="col-xl-3 col-lg-3 col-form-label">Labels <span
              class="text-danger">*</span></label>
              <tag-input formControlName="items">
                <tag-input-dropdown
                  [appendToBody]="false"
                  [autocompleteItems]="itemsdrop"
                  [showDropdownIfEmpty]="true"
                  [dynamicUpdate]="false"
                  [keepOpen]="false"
                >
                </tag-input-dropdown>
                </tag-input>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-xl-3 col-lg-3 col-form-label">Category<span
                    class="text-danger">*</span></label>
            <div class="col-9">
                <mat-select class="form-control form-control-lg" formControlName="created_by" id="created_by"
                    placeholder=" Please Select" title=" Please Select">
                    <mat-option> Please Select </mat-option>
                    <mat-option [value]="cat.id" *ngFor="let cat of categoriesArr">
                        {{cat.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('created_by','required')">
                    {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
            </div>
        </div>

      </div>
    </form>
      <div class="modal-footer text-right">
          <div class="kt-form__actions kt-form__actions--sm">
            <button mat-button (click)="cancel()"  class=" btn btn-danger"> Cancel </button> &nbsp;&nbsp;
            <button mat-button (click)="categorieAdd()" color="primary" class=" btn btn-green text-white" [disabled]="isSubmitted ? true: false" > Save </button>
          </div>
      </div>
  </div>
</div>
