<div class="wrapper">
    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2 w-halfvw" style="background-image: url('assets/media/logos/login-bg.png');">
        </div>
        <div class="contents order-2 order-md-2 w-halfvw">
            <div class="container">
                <div class="row align-items-center justify-content-center" style="flex-direction: column;">
                    <div class="heading  d-flex align-items-center justify-content-center" >
                        <span>Set Password</span>
                    </div>
                    <div class="col-md-7 m-3 ">
                        <form class="mt-5 p-10" [formGroup]="confirmPasswordForm" (ngSubmit)="submit()" novalidate="novalidate"
                            id="kt_confirm_password_form">
                            <div class="form-group first">
                                <input type="text" class="form-control" type="email" name="email"
                                   autocomplete="off" value="{{temp}}" [readOnly]="readonly"
                                    placeholder="{{'AUTH.INPUT.EMAIL' | translate}}" >
                            </div>
                            

                            <div class="form-group last ">

                                <div class="form-group last mb-3">
                                    <input type="password" class="form-control" name="password" autocomplete="off"
                                        formControlName="password" placeholder="{{'AUTH.INPUT.PASSWORD' | translate}}"
                                        id="password" />
                                </div>
                                <mat-error *ngIf="isControlHasError('password','required')">
                                    {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('password','pattern')">
                                    {{ 'AUTH.VALIDATION.INVALID_PASSWORD' | translate }}
                                </mat-error>

                            </div>
                            <div class="form-group last mb-3">
                                <div class="form-group last mb-3">
                                    <input type="password" class="form-control" name="confirmPassword" autocomplete="off"
                                        formControlName="confirmPassword"
                                        placeholder="{{'AUTH.INPUT.CONFIRM_PASSWORD' | translate}}"
                                        id="confirmPassword" />
                                </div>
                                <mat-error *ngIf="isControlHasError('confirmPassword','required')">
                                    {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('confirmPassword','pattern')">
                                    {{ 'AUTH.VALIDATION.INVALID_PASSWORD' | translate }}
                                </mat-error>
                                <mat-error *ngIf="confirmPasswordForm.controls['confirmPassword'].errors && confirmPasswordForm.controls['confirmPassword'].errors.ConfirmPassword">
                                    {{ 'AUTH.VALIDATION.MATCH_PASSWORD' | translate }}
                                </mat-error>


                                <div class="text-center">
                                    <button type="submit" [disabled]="confirmPasswordForm.invalid" id="kt_confirm_password_submit"
                                        class="btn btn-success bg">
                                        {{'AUTH.GENERAL.SET_PASSWORD' |translate}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>