// @import "../../../../assets/sass/pages/login/login-1.scss";

// :host {
// 	width: 100%;

// 	.wrapper {
// 	  margin: 0 !important;
// 	  padding: 0 !important;
// 	  padding-top: 0px ;
// 	}


// 	// @media (min-width: 992px) {
// 	.login-form {
// 	  width: 100%;
// 	  max-width: 500px;
// 	  margin: 0 auto;

// 	  .mat-form-field {
// 		width: 100%;
// 	  }
// 	}

// 	// }
//   }

.password-input {
	position: relative;

	.eye-icon {
		position: absolute;
		right: 11px;
		top: 16px;
		cursor: pointer;
		color: #b5b5c3;
	}
}

//   .login-form {
// 	background: #61605c80;
// 	padding: 19px;
// 	border-radius: 18px;

// 	.form-control {
// 	  background-color: #2d2d2d;
// 	  border: none;
// 	  color: #b5b5c3;
// 	}

// 	.login-btn {
// 	  background: #3699ff;
// 	  border-color: #3699ff;
// 	  color: #fff;
// 	  width: 100%;
// 	}
//   }

// .bottom-logo {
//   img {
//     // width: 270px;
//   }
// }

.text-white {
	color: #fff !important;
}

re-captcha.is-invalid>div {
	border: 1px solid #dc3545 !important;
	border-radius: 0.2rem;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

/* LOGIN START*/
// input[type="checkbox"],
// input[type="radio"] {
// 	height: 18px;
// 	width: 18px;
// }

.content {
	padding: 7rem 0;
}

.contents img {
	margin-bottom: 50px;

}

.w-halfvw {
	width: 50vw;
}

.half,
.half .container>.row {
	height: 100vh;

}

@media (max-width: 991.98px) {
	.half .bg {
		height: none;
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}
}

.half .contents {
	background: #fff;
}

.half .contents .heading {
	margin-bottom: 5em;
}

.half .contents .heading>span {
	font-size: 40px;
	font-weight: bold;
	background-color:#25507C;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

// .half .contents,
// .half .bg {
// 	width: 50%;
// }


@media (max-width: 1199.98px) {

	.half .contents,
	.half .bg {
		width: 100%;
	}
}

.half .contents .form-control,
.half .bg .form-control {
	border: none;
	height: 54px;
	padding-left: 0;
	border-bottom: 1px solid #e9e9f0;
	border-radius: 0
}

.half .contents .form-control:active,
.half .contents .form-control:focus,
.half .bg .form-control:active,
.half .bg .form-control:focus {
	outline: none;
	border-bottom: 1px solid #002559;
}

.form-control {
	position: relative;
}

.half .bg {
	background-size: cover;
	background-position: center;
	;
}

.half a {
	color: #43425D;
	text-decoration: none;
	font-weight: 500;
}

.half a:hover {
	color: #002559;
	text-decoration: none;
	text-decoration: underline;
}


.half .btn {
	height: 50px;
	padding-left: 70px;
	padding-right: 70px;
	background: #002559;
	border: 0;
	border-radius: 4px;
	margin-top: 30px
}

.half .btn:hover {
	background: #0b3957;
}

.half .forgot-pass {
	position: relative;
	top: 2px;
	font-size: 14px;
	font-weight: 500;
}

.caption {
	font-weight: 500;
}

.bg {

	background-color: #002559 !important;
}

.p {
	position: absolute;
	top: 145px;
	right: 55px;
}