// @import "../../../../assets/sass/pages/login/login-1.scss";

:host {
  width: 100%;

     .welcome-form {
        width: 100%;
    
        margin:0 auto;
        background:#fff;
        padding:50px;
        border-radius: 18px;
        h1 {
            text-align: center;
            font-size: 31px;
            font-weight: 600;
            max-width: 500px;
           
        }
        p{
          font-size:16px;
          color:#000;
          max-width: 500px;
        }
       
        .confirm-text {
           font-size: 17px;
            text-align: center;
            padding: 15px 0;
        }
        .mat-form-field {
          width: 100%;
        }
        .form-control {
          background-color: transparent;
          border: 1px solid #aeabab;
        }
        .login-btn {
          background:#3699ff;
          border-color:#3699ff;
          color: #fff;
          // width: 100%;
        }
        .red-link{color:#af2127;}
        .btn-light-primary {
          color: gray;
        }
      }
    
}

.text-white{
  color: #fff !important;
}

.form .form-group {
  margin-bottom: 0;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.password-input {
  position: relative;
  .eye-icon {
    position: absolute;
    right: 11px;
    top: 16px;
    cursor: pointer;
    color: #b5b5c3;
  }
}
.bottom-logo{
  img{
    width: 270px;
  }
}
@media (max-width: 767px) {

  .welcome-form {
    width: 100%;
max-width: 325px;
    margin:0 auto;
    background:#fff;
    padding:30px;
    border-radius: 18px;
    h1 {
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        max-width: 500px;
       
    }
    p{
      font-size:16px;
      color:#000;
      max-width: 500px;
    }
  }
}
.password-input {
  position: relative;
  .eye-icon {
    position: absolute;
    right: 30px;
    top: 22px;
    cursor: pointer;
    color: #b5b5c3;
  }
}