<div class="card card-custom  gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                {{ !roleId?('PAGES.ASSIGNPROJECT.ASSIGNPROJECT' | translate):('PAGES.ASSIGNPROJECT.UPDATE' | translate)
                }}</h3>
        </div>
    </div>
    <div class="role-add card-body">
        <form class="form form-label-left" [formGroup]="roleForm">
            <div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6">
                <div class="card">
                    <div class="card-header" id="heading1">
                        <div class="card-title" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                            aria-controls="collapse1">
                            <span class="circle_value">1</span> Project Details
                        </div>
                    </div>
                    <div id="collapse1" class="collapse show" aria-labelledby="heading1"
                        data-parent="#accordionExample6">
                        <div class="card-body">
                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label>Name*</label>
                                        <input type="test" class="form-control" placeholder="" formControlName="Name">
                                        <mat-error *ngIf="isControlHasError('Name','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>

                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Status*</label>
                                        <select class="form-control" formControlName="ProjectStatusId">
                                            <option value="">Select Status</option>
                                            <option *ngFor="let p of Status;let i = index" [value]="p.Id">{{p.Name}}
                                            </option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ProjectStatusId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Project Type*</label>
                                        <select class="form-control" formControlName="ProjectTypeId">
                                            <option value="">Select Project Type</option>
                                            <option *ngFor="let p of Type;let i = index" [value]="p.Id">{{p.Name}}
                                            </option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ProjectTypeId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Project Manager (PM)*</label>
                                        <select class="form-control" formControlName="ProjectManagerId">
                                            <option value="">Select Project Manager</option>
                                            <option *ngFor="let p of Manager;let i = index" [value]="p.Id">{{p.Name}}
                                            </option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ProjectManagerId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Project Lead (PL)*</label>
                                        <select class="form-control" formControlName="ProjectLeadId">
                                            <option value="">Select Project Lead</option>
                                            <option *ngFor="let p of Lead;let i = index" [value]="p.Id">{{p.Name}}
                                            </option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ProjectLeadId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Project Team Members*</label>
                                        <select class="form-control" formControlName="ProjectTeamMember">
                                            <option value="">Select Project Member</option>
                                            <option *ngFor="let p of Member;let i = index" [value]="p.Id">{{p.Name}}
                                            </option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ProjectTeamMember','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading2">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapse2"
                            aria-expanded="true" aria-controls="collapse2">
                            <span class="circle_value">2</span> Other Project Parameters
                        </div>
                    </div>
                    <div id="collapse2" class="collapse show" aria-labelledby="heading2"
                        data-parent="#accordionExample6">
                        <div class="card-body">
                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="mb-2">Allow In Productive App?*</label><br />
                                        <span style="margin-right: 2em;">
                                            <input type="radio" id="Yes" name="AllowInProductiveApp" value="HTML"
                                                formControlName="AllowInProductiveApp" style="margin-right: 1em;">
                                            <label for="html">Yes</label>
                                        </span>
                                        <span>
                                            <input type="radio" id="css" name="AllowInProductiveApp" value="CSS"
                                                formControlName="AllowInProductiveApp" style="margin-right: 1em;">
                                            <label for="No">No</label><br>
                                        </span>
                                        <mat-error *ngIf="isControlHasError('AllowInProductiveApp','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">TimeZone*</label>
                                        <select class="form-control" formControlName="TimeZoneId">
                                            <option value="">Select Time Zone</option>
                                            <option *ngFor="let p of Time;let i = index" [value]="p.Id">{{p.Name}}
                                            </option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('TimeZoneId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">IMS Date Format*</label>
                                        <input type="test" class="form-control" placeholder=""
                                            formControlName="IMSDateFormat">
                                        <mat-error *ngIf="isControlHasError('IMSDateFormat','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading3">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapse3"
                            aria-expanded="true" aria-controls="collapse3">
                            <span class="circle_value">3</span> Project Status Report
                        </div>
                    </div>
                    <div id="collapse3" class="collapse show" aria-labelledby="heading3"
                        data-parent="#accordionExample6">
                        <div class="card-body">
                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <div class="col-lg-3 mb-4 p-2">
                                        <label>Project Status Enable*</label><br />
                                        <span style="margin-right: 2em;">
                                            <input type="radio" id="Yes" name="IsProjectStatusEnable" value="HTML"
                                                formControlName="IsProjectStatusEnable" style="margin-right: 1em;">
                                            <label for="html">Yes</label>
                                        </span>
                                        <span>
                                            <input type="radio" id="css" name="IsProjectStatusEnable" value="CSS"
                                                formControlName="IsProjectStatusEnable" style="margin-right: 1em;">
                                            <label for="No">No</label><br>
                                        </span>
                                        <mat-error *ngIf="isControlHasError('IsProjectStatusEnable','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-3 mb-4 p-2">
                                        <label class="">Project Status Frequency*</label>
                                        <select class="form-control" formControlName="ProjectStatusFrequencyId">
                                            <option value="">Select Project Status Frequency</option>
                                            <option *ngFor="let p of StatusFrequency;let i = index" [value]="p.Id">
                                                {{p.Name}}</option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ProjectStatusFrequencyId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-3 mb-4 p-2">
                                        <label class="">Provide Day Of Month For Status Report*</label>
                                        <select class="form-control" formControlName="DayOfMonthId">
                                            <option value="">Select </option>
                                            <option *ngFor="let p of DayOfMonth;let i = index" [value]="p.Id">{{p.Name}}
                                            </option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('DayOfMonthId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-3 mb-4 p-2">
                                        <label class="">Start Date Of Recurrence For Status Report*</label>
                                        <input type="date" class="form-control"
                                            formControlName="StarDateOfRecurrenceStatusReport">
                                        <mat-error
                                            *ngIf="isControlHasError('StarDateOfRecurrenceStatusReport','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading4">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapse4"
                            aria-expanded="true" aria-controls="collapse4">
                            <span class="circle_value">4</span> Project Review Call
                        </div>
                    </div>
                    <div id="collapse4" class="collapse show" aria-labelledby="heading4"
                        data-parent="#accordionExample6">
                        <div class="card-body">
                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <div class="col-lg-3 mb-4 p-2">
                                        <label>Project Review Call Enable*</label><br />
                                        <span style="margin-right: 2em;">
                                            <input type="radio" id="Yes" name="IsProjectReviewCallEnable" value="HTML"
                                                formControlName="IsProjectReviewCallEnable" style="margin-right: 1em;">
                                            <label for="html">Yes</label>
                                        </span>
                                        <span>
                                            <input type="radio" id="css" name="IsProjectReviewCallEnable" value="CSS"
                                                formControlName="IsProjectReviewCallEnable" style="margin-right: 1em;">
                                            <label for="No">No</label><br>
                                        </span>
                                        <mat-error *ngIf="isControlHasError('IsProjectReviewCallEnable','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-3 mb-4 p-2">
                                        <label class="">Project Review Call Frequency*</label>
                                        <select class="form-control" formControlName="ProjectReviewCallFrequencyId">
                                            <option value="">Select Project Review Call Frequency</option>
                                            <option *ngFor="let p of CallFrequency;let i = index" [value]="p.Id">
                                                {{p.Name}}</option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ProjectReviewCallFrequencyId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-3 mb-4 p-2">
                                        <label class="">Provide Day Of Month For Status Report*</label>
                                        <select class="form-control" formControlName="ReviewCallDayOfMonthId">
                                            <option value="">Select </option>
                                            <option *ngFor="let p of DayOfMonth;let i = index" [value]="p.Id">{{p.Name}}
                                            </option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ReviewCallDayOfMonthId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-3 mb-4 p-2">
                                        <label class="">Start Date Of Recurrence For Status Report*</label>
                                        <input type="date" class="form-control"
                                            formControlName="ReviewCallStarDateOfRecurrenceStatusReport">
                                        <mat-error
                                            *ngIf="isControlHasError('ReviewCallStarDateOfRecurrenceStatusReport','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading5">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapse5"
                            aria-expanded="true" aria-controls="collapse5">
                            <span class="circle_value">5</span> Project CMMI
                        </div>
                    </div>
                    <div id="collapse5" class="collapse show" aria-labelledby="heading5"
                        data-parent="#accordionExample6">
                        <div class="card-body">
                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <div class="col-lg-3 mb-4 p-2">
                                        <label>Do You Want To Implement CMMI Process?*</label><br />
                                        <span style="margin-right: 2em;">
                                            <input type="radio" id="Yes" name="IsCMMIProcess" value="HTML"
                                                formControlName="IsCMMIProcess" style="margin-right: 1em;">
                                            <label for="html">Yes</label>
                                        </span>
                                        <span>
                                            <input type="radio" id="css" name="IsCMMIProcess" value="CSS"
                                                formControlName="IsCMMIProcess" style="margin-right: 1em;">
                                            <label for="No">No</label><br>
                                        </span>
                                        <mat-error *ngIf="isControlHasError('IsCMMIProcess','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading6">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapse6"
                            aria-expanded="true" aria-controls="collapse6">
                            <span class="circle_value">6</span> Add/Update Work Progress Milestones
                        </div>
                    </div>
                    <div id="collapse6" class="collapse show" aria-labelledby="heading6"
                        data-parent="#accordionExample6">
                        <div class="card-body">
                            <div class="kt-portlet__body">
                                <form class="" [formGroup]="milestoneForm">
                                    <div class="form-group row">
                                        <div class="col-lg-4 mb-4 p-2">
                                            <label class="">Milestone Name*</label>
                                            <input type="text" class="form-control" placeholder=""
                                                formControlName="MileStoneName">
                                            <mat-error *ngIf="isControlMilestoneErrors('MileStoneName','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-4 mb-4 p-2">
                                            <label class="">Milestone Percentage*</label>
                                            <select class="form-control" formControlName="MileStonePercentageId">
                                                <option value="">Select Milestone Percentage</option>
                                                <option *ngFor="let p of Percentage;let i = index" [value]="p.Id">
                                                    {{p.Percentage}}</option>
                                            </select>
                                            <mat-error
                                                *ngIf="isControlMilestoneErrors('MileStonePercentageId','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-3 mb-4 p-2">
                                            <label class="">Work Progress Milestone Due Date*</label>
                                            <input type="date" class="form-control" formControlName="DueDate">
                                            <mat-error *ngIf="isControlMilestoneErrors('DueDate','required')">
                                                {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                            </mat-error>
                                        </div>
                                        <div class="col-lg-1 mt-9 p-2">

                                            <!-- <button class="btn-primary btn" type="button" [disabled]="isSubmitted? true : false" (click)="saveMilestone()">Add</button> -->

                                            <button class="btn-primary btn" type="button"
                                                [disabled]="isSubmitted? true : false" (click)="saveMilestone()"
                                                *ngIf="!isSubmitting && !isEdit">
                                                Add
                                            </button>
                                            <button type="button" class="btn-primary btn"
                                                [disabled]="isSubmitted? true : false" (click)="update()"
                                                *ngIf="!isSubmitting && isEdit">
                                                Update
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <table class="table table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center">Milestone Name</th>
                                            <th class="text-center">MileStone Percentage</th>
                                            <th class="text-center">Work Progress MileStone Due Date</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of MilestoneData1">
                                            <td class="text-center">{{data.MileStoneName}}</td>
                                            <td class="text-center">{{data.Percentage}}</td>
                                            <td class="text-center">{{data.DueDate}}</td>
                                            <td class="text-center">
                                                <i class=" mr-2" (click)="edit(data.Id)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                        viewBox="0 0 32 32">
                                                        <g id="Group_9726" data-name="Group 9726"
                                                            transform="translate(-1559 -353)">
                                                            <circle id="Ellipse_31" data-name="Ellipse 31" cx="16"
                                                                cy="16" r="16" transform="translate(1559 353)"
                                                                fill="#296478" />
                                                            <g id="Icon_ionic-ios-eye" data-name="Icon ionic-ios-eye"
                                                                transform="translate(1563.748 355.125)">
                                                                <path id="Path_28" data-name="Path 28"
                                                                    d="M11.242,7.875c-3.23,0-5.777,2.033-8.823,5.355a.635.635,0,0,0,0,.856c2.607,2.881,4.905,5.359,8.827,5.359,3.873,0,6.778-3.122,8.843-5.384a.63.63,0,0,0,.02-.832C18,10.679,15.087,7.875,11.242,7.875Zm.177,9.4a3.616,3.616,0,1,1,3.443-3.443A3.617,3.617,0,0,1,11.419,17.272Z"
                                                                    fill="#dbe5e8" />
                                                                <path id="Path_29" data-name="Path 29"
                                                                    d="M15.99,14.161a1.828,1.828,0,0,1,.121-.657c-.039,0-.078,0-.121,0a2.49,2.49,0,1,0,2.49,2.49c0-.051,0-.1,0-.152a1.725,1.725,0,0,1-.708.152A1.806,1.806,0,0,1,15.99,14.161Z"
                                                                    transform="translate(-4.74 -2.33)" fill="#dbe5e8" />
                                                            </g>
                                                        </g>
                                                    </svg>

                                                </i>
                                                <i class=" mr-2" (click)="toggeleStatus(data)">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="32"
                                                        height="32" viewBox="0 0 32 32">
                                                        <defs>
                                                            <clipPath id="clip-path">
                                                                <rect id="Rectangle_17030" data-name="Rectangle 17030"
                                                                    width="26" height="26"
                                                                    transform="translate(-0.258 -0.258)"
                                                                    fill="#dbe5e8" />
                                                            </clipPath>
                                                        </defs>
                                                        <g id="Group_9724" data-name="Group 9724"
                                                            transform="translate(-1601 -353)">
                                                            <circle id="Ellipse_32" data-name="Ellipse 32" cx="16"
                                                                cy="16" r="16" transform="translate(1601 353)"
                                                                fill="#296478" />
                                                            <g id="Group_17904" data-name="Group 17904"
                                                                transform="translate(1578.055 351.055)">
                                                                <g id="Group_17903" data-name="Group 17903"
                                                                    transform="translate(26.204 5.204)"
                                                                    clip-path="url(#clip-path)">
                                                                    <path id="Path_24772" data-name="Path 24772"
                                                                        d="M53.8,38.936l-1.114,1.116c-.053-.046-.116-.1-.175-.151a8.487,8.487,0,0,0-6.693-2.282,8.785,8.785,0,0,0-7.849,6.561,8.887,8.887,0,1,0,17.3,4.04,7.968,7.968,0,0,0-.023-3.5.442.442,0,0,1,.146-.48c.361-.351.694-.731,1.075-1.077a9.579,9.579,0,0,1,.322,5.657,10.152,10.152,0,0,1-4.443,6.406A10.5,10.5,0,0,1,40.075,38.194a10.4,10.4,0,0,1,13.725.742"
                                                                        transform="translate(-33.814 -33.721)"
                                                                        fill="#dbe5e8" />
                                                                    <path id="Path_24773" data-name="Path 24773"
                                                                        d="M129.3,98.623l-4.513-4.573,1.09-1.1,3.375,3.392,9.115-9.114,1.155,1.154L129.3,98.623"
                                                                        transform="translate(-116.567 -81.541)"
                                                                        fill="#dbe5e8" />
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>

                                                </i>
                                                <i class="	 " (click)="delete(data.Id)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                        viewBox="0 0 32 32">
                                                        <g id="Group_17925" data-name="Group 17925"
                                                            transform="translate(-1727 -297)">
                                                            <circle id="Ellipse_33" data-name="Ellipse 33" cx="16"
                                                                cy="16" r="16" transform="translate(1727 297)"
                                                                fill="#296478" />
                                                            <path id="path17850"
                                                                d="M9.5,0A9.5,9.5,0,1,0,19,9.5,9.5,9.5,0,0,0,9.5,0ZM9.327,2.381a3.674,3.674,0,0,1,2.725,1.034A3.308,3.308,0,0,1,13,5.721a3.381,3.381,0,0,1-.769,2.306c-.695,1.044-2.442,2.556-2.112,4.252l-1.333-.023A4.254,4.254,0,0,1,8.8,8.692c.45-.946.787-1.25,1.153-2.125A1.462,1.462,0,0,0,8.658,4.7a1.249,1.249,0,0,0-1.338.878H6.238c-.093-.054-.295-.114-.228-1.1S8.175,2.378,9.327,2.381Zm.067,11.005A1.616,1.616,0,1,1,7.781,15,1.612,1.612,0,0,1,9.395,13.386Z"
                                                                transform="translate(1733.501 303.501)"
                                                                fill="#dbe5e8" />
                                                        </g>
                                                    </svg>

                                                </i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading7">
                        <div class="card-title" data-toggle="collapse" data-target="#collapse7" aria-expanded="true"
                            aria-controls="collapse7">
                            <span class="circle_value">7</span> Add/Revision Max Cost
                        </div>
                    </div>
                    <div id="collapse7" class="collapse show" aria-labelledby="heading7"
                        data-parent="#accordionExample6">
                        <div class="card-body">
                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label>Resource Category*</label>
                                        <select class="form-control" formControlName="ResourceCategoryId">
                                            <option value="">Select Resource Category</option>
                                            <option *ngFor="let p of ResourceCategory;let i = index" [value]="p.Id">
                                                {{p.Name}}</option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ResourceCategoryId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>

                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Resource Name*</label>
                                        <select class="form-control" formControlName="ResourceName">
                                            <option value="">Select Resource Name</option>
                                            <option *ngFor="let p of ResourceName;let i = index" [value]="p.Id">
                                                {{p.Name}}</option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('ResourceName','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Resource Band*</label>
                                        <select class="form-control" formControlName="BandId">
                                            <option value="">Select Resource Band</option>
                                            <option *ngFor="let p of ResourceBand;let i = index" [value]="p.Id">
                                                {{p.Band}}</option>
                                        </select>
                                        <mat-error *ngIf="isControlHasError('BandId','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Resource Level*</label>
                                        <input type="test" class="form-control" placeholder=""
                                            formControlName="ResourceLevel">
                                        <mat-error *ngIf="isControlHasError('ResourceLevel','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-4 mb-4 p-2">
                                        <label class="">Total Hours*</label>
                                        <input type="number" class="form-control" placeholder=""
                                            formControlName="TotalHours">
                                        <mat-error *ngIf="isControlHasError('TotalHours','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-2 mb-4 p-2">
                                        <label class="">Band Rate*</label>
                                        <input type="number" class="form-control" placeholder=""
                                            formControlName="BandRate">
                                        <mat-error *ngIf="isControlHasError('BandRate','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                    <div class="col-lg-2 mb-4 p-2">
                                        <label class="">Amount*</label>
                                        <input type="number" class="form-control" placeholder=""
                                            formControlName="Amount">
                                        <mat-error *ngIf="isControlHasError('Amount','required')">
                                            {{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-6">
                <div class="col-12 text-right">
                    <button class="btn btn-secondary mr-3" type="button">Cancle</button>
                    <button class="btn-primary btn" type="button" [disabled]="isSubmitted? true : false"
                        (click)="save()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>