.profile-section {
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: #1e1e2d !important;
  }
}

.pic {
  border-radius: 50% !important;
    height: 50px !important;
}

.round {
  border-radius: 50% !important;
}

.data {
  text-align: left !important;
}

.font {
  font-size: 12px;
}