
::ng-deep .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 2rem !important;
    border-bottom: none;
    border-top-left-radius: 0.42rem;
    border-top-right-radius: 0.42rem;
}

.modal-body {
    position: relative;
    color: black;
    font-size: 16px;
    flex: 1 1 auto;
    padding: 0.2rem !important;
}

.modal-footer {
   
    flex-wrap: wrap !important;
    align-items: center !important;
    /* justify-content: flex-end; */
    padding: 1rem !important;
    border-top: none;
    border-bottom-right-radius: 0.42rem;
    border-bottom-left-radius: 0.42rem;
    justify-content: center !important;
}
.button-p{
    color: white !important;
    margin-bottom: 5px;
}
.button-q{
    color: black !important;
    border: none !important;
    background: white !important;
}

